<title><%= (typeof title != "undefined" ? title : "") %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Sample Node.js and Express">
<meta name="author" content="Habib Imron Cahyo Nugroho">

<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"  media="screen,projection"/>
<link href="src/index.css" rel="stylesheet">